.header {
    padding: 40px;
    text-align: center;
    background: #1abc9c;
    color: white;
  }
.header>h1{
    color: white;
    background-color: rgba(26,188,156,255);
    display:flex;
    justify-content: center;
    font-size: 30px;
}
.header>p{
    color: white;
    background-color: rgba(26,188,156,255);
    display:flex;
    justify-content: center;
    font-size: 15px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
  }
  
li {
    float: left;
  }
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
ul a:hover{
    background-color: black;
}
.flex-container{
  display: flex;
  justify-content: column;
}
@media (max-width: 300px) {
  .flex-container {
    flex-direction: column;
  }
}
*{
  box-sizing: border-box;
}
.column{
  float: left;
  padding :10px;
  height: 1000px;
  align-items: center;

}
.left{
  width: 25%;
  background-color: #f1f1f1;
}
.right{
  width: 75%;
  background-color: #ffffff;
}

.row:after{
  content: "";
  display: table;
  clear: both;
}

@media  screen and (max-width: 680px){
    .column{
      width: 100%;
    }
};
.p{
  display: flex;
  justify-content: center;
}

.square{
  padding: 30px ;
  width: 100%;
  height: 200px;
  background-color: #aaaaaa;
  display: flex;
  justify-content: left;
}

.rectangle{
  padding: 30px;
  background-color: #aaaaaa;
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: left;
}

.footer{
  text-align: center;
  background-color: #dddddd;
  padding: 15px;
  color: black;
  font-size: 20px;
}
.rectangle1{
  padding: 20px;
  background-color: #aaaaaa;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: left;
}